<div class="login_outer">
    <div class="logo">
    <img src="assets/images/logo.png" alt="Logo" with="200">
    <h2>Forgot Pasword?</h2>
    <p>Enter your registered email ID to reset the password.</p>
    </div>
    <div class="form_outer">
        <form [formGroup]="resetform" (ngSubmit)="resetUser()">
            <div class="form-group">
                <label>E-mail Address:</label>
                <input type="email" name="email" id="email" class="form-control"  formControlName="user_email">
                <span *ngIf="user_email && user_email.invalid && user_email.touched" class="error_msg" >Please enter valid Email Address*</span>
            </div>
           <button type="submit" [disabled]="resetform.invalid" class="btn">Reset Password</button>
           <p class="new_signup">Don't have an account <a routerLink="/login"> Login</a></p>
        </form>
        </div>
    </div>
    
